html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 24px Helvetica;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#main {
    min-height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row;
    height: 85vh;
}

#mobile-warning {
    display: none;
}

#main > #game-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    height: 600px;
    max-height: 600px;
    min-height: 600px;
    padding: 2px 0;
    border: 3px solid #575757;
    background: transparent;
    flex: 1 1 80%;
    order: 2;
}

#main > aside {
    height: 600px;
    margin: 4px;
    background: transparent;
    flex: 1 6 20%;
}

#main > aside.left {
    order: 1;
    border-right: 1px solid #eebb55;
}

#main > aside.right {
    order: 3;
    border-left: 1px solid #eebb55;
}

#main > aside > div {
    font-family: 'TheMinion', serif;
}

#main > aside > div > p {
    font-weight: bold;
    font-size: 36pt;
    margin: 15px auto;
}

#main > aside > div ul {
    list-style: none;
}

#main > aside > div ul li {
    padding: 10px;
}

#main > aside .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main > aside .controls .arrows,
#main > aside .controls .space {
    display: flex;
}

#main > aside .controls .arrows div,
#main > aside .controls .space div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main > aside .controls .space > div {
    margin-right: 100px;
}

#main > aside .controls .arrows .wrapper,
#main > aside .controls .space .wrapper {
    margin-right: 0;
}

#main > aside .controls .arrows .wrapper img,
#main > aside .controls .space .wrapper img {
    max-width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 4px 4px 4px;
    min-height: 100px;
    border-top: 1px solid #eebb55;
    background: transparent;
}

footer > div {
    width: 90%;
    margin: 5px auto;
    text-align: center;

}

footer a {
    color: #bf4926;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
}

/* ------------------------------------------------------------------- */
/* shaking animation on hover */
@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
footer a:hover,
footer a:focus {
    animation-name: shake;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* ------------------------------------------------------------------- */

#svg-score + div {
    display: none;
}

#lives {
    display: none;
    width: 100px;
    margin: 10px 0 0 30px;
}

#lives .life {
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat transparent url('/images/ships/ship.png') center center;
    height: 32px;
    width: 32px;
    opacity: 1;
    transition: opacity 100ms;
    transform: rotate(-90deg);
}

#lives .lost {
    opacity: 0;
}

/* Too narrow to support three columns */
@media all and (max-width: 1450px) {
    #main {
        flex-direction: column;
        height: 100%;
    }

    #lives {
        margin: 25px 0 0 30px;
    }

    #main > aside {
        width: 90%;
        height: inherit;
    }

    #main > aside.left {
        order: 3;
        border-right: none;
        border-top: 1px solid #eebb55;
    }

    #main > aside.right {
        order: 1;
        border-left: none;
        border-bottom: 1px solid #eebb55;
    }

    #main > aside.right .score {
        display: flex;
    }

    #main aside.left > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #main aside.right > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    #main > aside .controls {
        flex-direction: row;
    }

    #main > aside > div > p {
        margin: auto 50px auto 0;
    }

    #main > aside .controls .space > div {
        margin-right: 0;
    }

    footer {
        align-items: flex-end;
        min-height: 50px;
        margin-top: 35px;
    }
}

/* Too narrow to be able to play */
@media all and (max-width: 800px) {
    #main {
        display: none;
    }

    #mobile-warning {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile-warning p {
        text-align: center;
    }
}